#infowrapper {
	display: block;
	float: right;
	padding: 20px;
	position: relative;
}

#bio {
	float: left;
	padding: 20px;
	overflow: hidden;
	width: 70%;
}

#image {

}

#contact-info {
	line-height: 1.5;
}

#contact-info a {
	text-decoration: none;
	color: #3385ff;
}

.bold {
	font-weight: 600;
	color: #333;
}
