#infowrapper {
	display: block;
	float: right;
	padding: 20px;
	position: relative;
}

#maininfo {
	float: left;
	padding: 20px;
	overflow: hidden;
	width: 70%;
}

#maininfo h2 {
	font-family: 'Titillium Web';
	color: #333;
	font-size: 30px;
	text-align: center;
	background-color: lightgray;
	border-bottom: 5px solid gray;
	/*box-shadow: 4px 4px 10px #888;*/
}

#contact-info {
	line-height: 1.5;
}

.bold {
	font-weight: 600;
	color: #333;
}

@media screen and (max-width: 1115px) {
	#maininfo {
		width: 100%;
	}

	#infowrapper {
		display: inline-block;
		width: 100%;
	}

	#image {
		float: left;
	}
}
